@media screen and (max-width:1200px){
    nav{
        justify-content: space-between;
        height: 13vh;
        padding: 0 1rem;
    }
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
}